<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS1/gongji/010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1300},{318,476}}</string>
                <key>offset</key>
                <string>{29,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,24},{318,476}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/gongji/010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,324},{322,486}}</string>
                <key>offset</key>
                <string>{31,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,14},{322,486}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/gongji/010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,654},{332,476}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,24},{332,476}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/gongji/010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1956},{332,462}}</string>
                <key>offset</key>
                <string>{11,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,38},{332,462}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/gongji/010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2266},{324,460}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,40},{324,460}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/gongji/010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1946},{318,466}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,34},{318,466}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/gongji/010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1636},{318,466}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,34},{318,466}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/gongji/010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1636},{324,464}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,36},{324,464}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/gongji/010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1310},{324,468}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,32},{324,468}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/gongji/010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1308},{326,470}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,30},{326,470}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/paoxiao/010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{326,486}}</string>
                <key>offset</key>
                <string>{29,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,14},{326,486}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/paoxiao/010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,328},{324,482}}</string>
                <key>offset</key>
                <string>{26,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,18},{324,482}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/paoxiao/010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{328,480}}</string>
                <key>offset</key>
                <string>{20,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,20},{328,480}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/paoxiao/010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{332,476}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,24},{332,476}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/paoxiao/010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2292},{338,456}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,44},{338,456}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/paoxiao/010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2592},{334,454}}</string>
                <key>offset</key>
                <string>{-11,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,46},{334,454}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/paoxiao/010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2290},{338,454}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,46},{338,454}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/paoxiao/010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1962},{338,454}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,46},{338,454}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/paoxiao/010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2972},{338,452}}</string>
                <key>offset</key>
                <string>{-18,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,48},{338,452}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/paoxiao/010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,2646},{338,452}}</string>
                <key>offset</key>
                <string>{-21,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,48},{338,452}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/paoxiao/010011.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2630},{340,452}}</string>
                <key>offset</key>
                <string>{-23,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,48},{340,452}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/paoxiao/010012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,2302},{342,452}}</string>
                <key>offset</key>
                <string>{-26,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,48},{342,452}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/paoxiao/010013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2632},{342,452}}</string>
                <key>offset</key>
                <string>{-29,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{342,452}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/paoxiao/010014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2976},{338,452}}</string>
                <key>offset</key>
                <string>{-31,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{338,452}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/paoxiao/010015.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2928},{338,452}}</string>
                <key>offset</key>
                <string>{-31,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{338,452}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/siwang/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,3268},{155,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,176}}</string>
                <key>sourceSize</key>
                <string>{155,176}</string>
            </dict>
            <key>BOSS1/siwang/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,574},{59,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,70}}</string>
                <key>sourceSize</key>
                <string>{59,70}</string>
            </dict>
            <key>BOSS1/siwang/011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,654},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>BOSS1/siwang/012.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,3638},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>BOSS1/siwang/013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4012},{110,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,65}}</string>
                <key>sourceSize</key>
                <string>{110,65}</string>
            </dict>
            <key>BOSS1/siwang/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,3897},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>BOSS1/siwang/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,4032},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,54}</string>
            </dict>
            <key>BOSS1/siwang/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,1453},{176,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,145}}</string>
                <key>sourceSize</key>
                <string>{176,145}</string>
            </dict>
            <key>BOSS1/siwang/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,502},{77,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,70}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>BOSS1/siwang/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,2405},{167,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,204}}</string>
                <key>sourceSize</key>
                <string>{167,204}</string>
            </dict>
            <key>BOSS1/siwang/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,574},{49,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,18}}</string>
                <key>sourceSize</key>
                <string>{49,18}</string>
            </dict>
            <key>BOSS1/siwang/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,2712},{222,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,176}}</string>
                <key>sourceSize</key>
                <string>{222,176}</string>
            </dict>
            <key>BOSS1/siwang/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,2},{118,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,88}}</string>
                <key>sourceSize</key>
                <string>{118,88}</string>
            </dict>
            <key>BOSS1/yidong/010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1964},{326,464}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,36},{326,464}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/yidong/010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1636},{326,468}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,32},{326,468}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/yidong/010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1620},{324,470}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,30},{324,470}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/yidong/010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{322,472}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,28},{322,472}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/yidong/010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,988},{320,476}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,24},{320,476}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/yidong/010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,976},{322,478}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,22},{322,478}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/yidong/010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,654},{326,478}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,22},{326,478}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/yidong/010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,648},{326,480}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,20},{326,480}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/yidong/010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,324},{328,482}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,18},{328,482}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/yidong/010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{324,486}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,14},{324,486}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/yidong/010011.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{320,488}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,12},{320,488}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/yidong/010012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,490}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,10},{316,490}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/yidong/010013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,2},{320,484}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,16},{320,484}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/yidong/010014.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,982},{324,476}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,24},{324,476}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>BOSS1/yidong/010015.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1308},{326,470}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,30},{326,470}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>datoujiguai/gongji/010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,4032},{62,130}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,24},{62,130}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>datoujiguai/gongji/010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,3268},{94,102}}</string>
                <key>offset</key>
                <string>{17,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,51},{94,102}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>datoujiguai/gongji/010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,122},{88,114}}</string>
                <key>offset</key>
                <string>{14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,41},{88,114}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>datoujiguai/gongji/010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,378},{80,122}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,32},{80,122}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>datoujiguai/gongji/010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,3316},{68,134}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,18},{68,134}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>datoujiguai/siwang/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2027,635},{19,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,33}}</string>
                <key>sourceSize</key>
                <string>{19,33}</string>
            </dict>
            <key>datoujiguai/siwang/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,3638},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>datoujiguai/siwang/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,2890},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>datoujiguai/siwang/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,3834},{61,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,51}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>datoujiguai/siwang/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,690},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>datoujiguai/siwang/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,698},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>datoujiguai/yidong/010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,4012},{64,136}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,18},{64,136}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>datoujiguai/yidong/010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,3572},{64,134}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,20},{64,134}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>datoujiguai/yidong/010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,3968},{62,132}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,22},{62,132}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>datoujiguai/yidong/010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,3572},{64,132}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,22},{64,132}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>datoujiguai/yidong/010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,3834},{62,132}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,20},{62,132}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>renma/gongji/010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,2574},{136,200}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{136,200}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/gongji/010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,2890},{128,188}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,32},{128,188}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/gongji/010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,1075},{126,190}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,30},{126,190}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/gongji/010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,1267},{126,184}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{126,184}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/gongji/010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,3268},{130,176}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,32},{130,176}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/gongji/010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3316},{132,174}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{132,174}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/gongji/010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,3434},{136,172}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,28},{136,172}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/gongji/010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,1631},{140,180}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{140,180}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/gongji/010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,2055},{128,186}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,28},{128,186}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/shouji/010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,3840},{118,158}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,62},{118,158}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/shouji/010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3450},{106,172}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,48},{106,172}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/shouji/010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,2185},{106,184}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,34},{106,184}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/shouji/010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,2293},{110,182}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,29},{110,182}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/shouji/010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,725},{120,176}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,36},{120,176}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/shouji/010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3558},{120,170}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,44},{120,170}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/siwang/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,635},{61,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,69}}</string>
                <key>sourceSize</key>
                <string>{61,69}</string>
            </dict>
            <key>renma/siwang/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,3638},{40,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,58}}</string>
                <key>sourceSize</key>
                <string>{40,58}</string>
            </dict>
            <key>renma/siwang/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,238},{84,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,74}}</string>
                <key>sourceSize</key>
                <string>{84,74}</string>
            </dict>
            <key>renma/siwang/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,314},{62,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,83}}</string>
                <key>sourceSize</key>
                <string>{62,83}</string>
            </dict>
            <key>renma/siwang/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,698},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>renma/siwang/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,2938},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>renma/yidong/010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,3316},{116,174}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,46},{116,174}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/yidong/010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3680},{116,168}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,52},{116,168}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/yidong/010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,1935},{118,164}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,56},{118,164}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/yidong/010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3850},{118,160}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,55},{118,160}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/yidong/010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,3452},{118,156}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,52},{118,156}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/yidong/010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,3676},{118,156}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,47},{118,156}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/yidong/010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,3680},{118,158}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,42},{118,158}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/yidong/010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,1813},{120,164}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,42},{120,164}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>renma/yidong/010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,903},{120,170}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,43},{120,170}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>test1.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a47bf9d2a4f08cd2dd61c3668a26558$</string>
            <key>textureFileName</key>
            <string>test1.png</string>
        </dict>
    </dict>
</plist>
